<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uploadClj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47D7C5291F1CA20600E837D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47D7C53D1F1CA20700E837D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47D7C5481F1CA20700E837D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
